.footer {
    height: var(--aside-width);
    padding: 0 var(--main-padding);
    box-sizing: border-box;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
    &-logo {
        width: 100px;
        height: auto;
    }
    &__menu {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 20px;
        width: 100%;
        &-item {
            color: var(--color-on-background);
            text-decoration: none;
            font-size: 16px;
            font-weight: 500;
            font-family: var(--google-font);
            transition: all 0.5s;
            &:hover {
                opacity: 0.8;
            }
        }
        &-info {
            color: var(--color-surface-variant);
            margin-left: auto;
            font-size: 14px;
            font-weight: 500;
            font-family: var(--google-font);
        }
    }
}

:root[data-theme='dark'] {
    .footer {
        &-logo {
            filter: invert(100%);
        }
    }
}
