.header {
    height: 128px;
    padding: 0 var(--main-padding);
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &-logo {
        width: 200px;
        height: auto;
    }
    &__search {
        width: 100%;
        &-input {
            border: 0;
            width: 100%;
            border-radius: 50px;
            box-sizing: border-box;
            min-width: 300px;
            height: 56px;
            padding: 0 30px 0 62px;
            background-color: var(--color-primary-container);
            color: var(--color-on-primary-container);
            outline: 0;
            font-size: 18px;
            transition: all 0.5s;
            font-family: 'Google Sans', Arial, Helvetica, sans-serif;
            &:focus {
                background-color: var(--color-secondary-container);
                color: var(--color-on-secondary-container);
                &::placeholder {
                    color: var(--color-on-secondary-container);
                }
            }
            &::placeholder {
                color: var(--color-on-primary-container);
            }
        }
        &-icon {
            position: absolute;
            margin: 16px 0 0 23px;
            vertical-align: middle;
            color: var(--color-on-primary-container);
        }
        &-button {
            display: none !important;
        }
    }
    &__theme {
        display: none;
    }
}
:root[data-theme='dark'] {
    .header {
        &-logo {
            filter: invert(100%);
        }
    }
}
