@media screen and (max-width: 1000px) {
    :root {
        --main-padding: 20px;
        --aside-width: 72px;
    }
    .wrapper {
        margin: 0 0 var(--aside-width) 0;
        width: 100%;
    }
    .aside {
        width: 100%;
        height: var(--aside-width);
        border-radius: 10px 10px 0 0;
        padding: 0 10px;
        top: auto;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: 998;
        flex-direction: row;
        justify-content: space-around;
        &__menu {
            flex-direction: row;
            justify-content: center;
            gap: 30px;
            &-item {
                &-icon {
                    margin: 0 0 4px;
                }
            }
        }
        &__theme {
            display: none;
        }
        &-socials {
            display: flex;
            cursor: pointer;
        }
    }
    .header {
        height: 104px;
        &-logo {
            width: 170px;
        }
        &-right {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;
        }
        &__search {
            &-input {
                display: none;
                position: relative;
            }
            &.active {
                & .header__search-input {
                    display: block;
                    position: absolute;
                    width: calc(100% - var(--main-padding) * 2);
                    left: var(--main-padding);
                    right: var(--main-padding);
                    z-index: 999;
                    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19),
                        0 6px 6px rgba(0, 0, 0, 0.23);
                }
                & .header__search-icon {
                    display: block !important;
                    left: 20px;
                    z-index: 1000;
                }
            }
            .material-symbols-outlined,
            &-icon {
                display: none;
            }
            &-button {
                border: 0;
                background: none;
                cursor: pointer;
                color: var(--color-on-secondary-container);
                width: 48px !important;
                height: 48px;
                display: flex !important;
                justify-content: center;
                align-items: center;
                border-radius: 50%;
                &:hover {
                    background-color: var(--color-secondary-container);
                    & > * {
                        transform: scale(1.1);
                    }
                }
            }
        }
        &__theme {
            display: block;
            text-align: center;
            &-button {
                border: 0;
                background: none;
                cursor: pointer;
                color: var(--color-on-secondary-container);
                width: 48px;
                height: 48px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 50%;
                &:hover {
                    background-color: var(--color-secondary-container);
                    & > * {
                        transform: scale(1.1);
                    }
                }
            }
        }
    }
    .socials {
        --socials-height: 50px;
        flex-direction: column;
        display: none;
        position: fixed;
        z-index: 999;
        right: var(--main-padding);
        left: var(--main-padding);
        top: auto;
        bottom: var(--aside-width);
        padding: var(--main-padding);
        width: calc(100% - var(--main-padding) * 2);
        background-color: var(--color-background);
        &.active {
            display: flex;
        }
        &__list {
            width: 100%;
        }
        #youtube-link {
            width: 100%;
        }
    }
    .home {
        &__post {
            height: 200px;
            margin: 0 0 20px 0;
            &-image {
                height: 200px;
            }
            &-content {
                height: 200px;
                padding: 15px;
                gap: 6px;
                &-title {
                    font-size: 22px;
                    line-height: 1.1;
                }
                &-time,
                &-type {
                    font-size: 12px;
                }
            }
        }
    }
    .post {
        &__item {
            top: 20px;
            padding: 20px;
            width: calc(100% - var(--main-padding) * 2);
            max-height: calc(100% - 40px);
            header h1 {
                font-size: 1.3em;
                line-height: 1.1;
            }
            &-close {
                top: 15px;
                right: 15px;
                width: 35px;
                height: 35px;
            }
            &-footer {
                grid-template-rows: repeat(2, 1fr);
                grid-template-columns: 1fr;
                gap: 10px;
            }
        }
    }
    .footer {
        height: var(--aside-width);
        flex-direction: column;
        justify-content: space-around;
        gap: 10px;
        margin: 30px 0;
        &__menu {
            justify-content: center;
            flex-wrap: wrap;
            gap: 10px;
            &-info {
                margin: 0;
                break-before: always;
            }
        }
    }
}
@media screen and (max-width: 300px) {
    :root {
        --main-padding: 15px;
    }
    body {
        font-size: 14px;
    }
    .header {
        &-logo {
            width: 100%;
        }
    }
    .home {
        &__post {
            &-content {
                &-title {
                    font-size: 18px;
                }
                &-info {
                    & > * {
                        padding: 5px 8px;
                    }
                }
            }
        }
    }
}
