@media screen and (max-width: 1000px) {
    :root {
        --main-padding: 20px;
    }
    .wrapper {
        margin: 0 0 var(--aside-width) 0;
        width: 100%;
    }
    .aside {
        width: 100%;
        height: calc(var(--aside-width) / 1.4);
        padding: 0 10px;
        top: auto;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: 999;
        flex-direction: row;
        justify-content: space-around;
        &__menu {
            flex-direction: row;
            justify-content: center;
            gap: 30px;
        }
        &__theme {
            display: none;
        }
    }
    .header {
        &-logo {
            width: 170px;
        }
        &-right {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 20px;
        }
        &__search {
            &-input {
                display: none;
            }
            &-icon {
                display: none !important;
            }
        }
        &__theme {
            display: block;
            text-align: center;
            &-button {
                border: 0;
                background: none;
                cursor: pointer;
                color: var(--color-on-secondary-container);
                width: 56px;
                height: 56px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 50%;
                &:hover {
                    background-color: var(--color-secondary-container);
                    & > * {
                        transform: scale(1.1);
                    }
                }
            }
        }
    }
    .home {
        &__post {
            height: 200px;
            margin: 0 0 20px 0;
            &-image {
                height: 200px;
            }
            &-content {
                height: 200px;
                &-title {
                    font-size: 22px;
                    line-height: 1;
                }
                &-time,
                &-type {
                    font-size: 12px;
                }
            }
        }
    }
    .footer {
        flex-direction: column;
        gap: 10px;

        &__menu-info {
        }
    }
}
